* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1 {
  font-size: 65px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 42px;
}

h5 {
  font-size: 24px;
}

h1,
h2,
h3,
h5,
h6,
p {
  font-family: "Raleway", sans-serif;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

body {
  background-color: #f5f8ff;
}

.btn-primary {
  font-family: "Raleway", sans-serif;
  background: #4e47ff;
  padding: 12px 36px;
  border-radius: 10px;
  color: #fff;
  border: none;
  outline: none;
  line-height: 150%;
  transition: all 0.15s;
}

.btn-primary:hover {
  background-color: #2e29c0;
}

.btn-primary:active {
  background-color: #1d1a8f;
}

.text-primary {
  color: #4e47ff;
}

.text-default {
  color: #1e1e1e;
}

.text-secondary {
  color: #757575;
}

.text-tertiary {
  color: #b3b3b3;
}

.footer-logo {
  font-family: "Inter", sans-serif;
  font-size: 100px;
  font-weight: 900;
}

/* ================== */

/* header styles */

header {
  background-image: url(../assets/images/Hero-bg.png);
  /* background-color: #ffffff3b; */
  background-blend-mode: overlay;
}

/* ================ */

/* nav styles */

nav {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  font-family: "Inter", sans-serif;
  font-size: 34px;
  font-weight: 900;
}

/* ============== */

/* banner styles */

.banner {
  text-align: center;
  padding: 155px 0;
}

.banner h1 {
  max-width: 900px;
  margin: 0 auto 36px;
}

/* =============== */

/* action styles */
.action {
  margin: 120px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action-image img {
  border-radius: 48px;
}

.action-description p {
  font-size: 24px;
  line-height: 30px;
  margin: 24px 0;
  max-width: 510px;
}

/* achievements styles */

.achievement-record {
  padding: 50px 0;
  border-radius: 24px;
  background-color: rgba(78, 71, 255, 0.1);
}

.achievement-record h3 {
  text-align: center;
  font-size: 38px;
  margin-bottom: 40px;
}

.stats-wrap {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 0 160px;
}

.stat-box h4 {
  font-size: 80px;
  font-family: "Inter", sans-serif;
}

.subscription-section h2 {
  font-size: 97px;
  line-height: 120%;
}

/* ================= */

/* user review styles */

.user-reviews {
  margin: 130px 0;
}

.reviews-wrap {
  margin-top: 50px;
  display: flex;
  gap: 0 20px;
}

.user-review {
  width: calc(100% / 3);
  background-color: #ffffff8a;
  border-radius: 14px;
  padding: 24px;
  border: 1px solid #f2eded;
}

.user-reviews h3 {
  text-align: center;
}

.user-review h5 {
  margin-bottom: 12px;
}

.user-review h5,
.reviewer-info {
  margin-top: 24px;
}

.reviewer-info {
  display: flex;
}

.reviewer-info .reviewer-img {
  margin-right: 12px;
}

.reviewer-img img {
  border-radius: 50%;
}

.reviewer-detail p.name {
  margin-bottom: 2px;
}

/* ============ */

.focus {
  padding: 70px 0;
  text-align: center;
  background: #fff;
  border-radius: 14px;
}

.focus p {
  margin: 20px 0 24px;
}

.focus button {
  margin-bottom: 24px;
}

.focus-img img {
  border-radius: 48px;
}
